{% extends "base.html" %}
{% block title %}Available Stratum 0 Repositories{% endblock %}
{% block layout %}

{% load staticfiles %}

<div id="wrap">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <img src="{% static "images/cvmfs_logo.png" %}" id="cvmfs_logo">
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'index' %}">Replication Monitor</a></li>
        <li><a href="{% url 'matrix' %}">Replication Matrix</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
    <div id="breadcrumbs">
        {% block breadcrumbs %}
            Main
        {% endblock %}
    </div>
</div>

<div class="container" id="content">
  {% block content %}
      No content provided
  {% endblock %}
  <div id="push"></div>
</div>

<div id="footer">
    <div class="container">
    <p class="text-muted credit">&copy; by CERN 2013</p>
    </div>
</div>

</div>

{% endblock %}
