{% extends "layout.html" %}
{% block breadcrumbs %}{{ block.super }} : <a href="{% url 'index' %}">Stratum0</a> : <a href="{% url 'details' stratum0.fqrn %}">{{ stratum0.fqrn }}</a>{% endblock %}

{% load staticfiles %}

{% block content %}

<h1>Details for local Stratum 0 {{ stratum0 }}</h1>
<table class="table">
    <tr>
        <td>Stratum0 Revision:</td>
        <td>{{ stratum0.manifest.revision }}</td>
    </tr>
    <tr>
        <td>CernVM-FS Version:</td>
        <td>{{ stratum0.version }}</td>
    </tr>
    <tr>
        <td>Last Modified:</td>
        <td>{{ stratum0.manifest.last_modified }}</td>
    </tr>
    <tr>
        <td>Root Catalog Hash:</td>
        <td>{{ stratum0.manifest.root_catalog }}</td>
    </tr>
    <tr>
        <td>Number of known Stratum 1 Replicas:</td>
        <td>{{ stratum1_list|length }}</td>
    </tr>
</table>

<h2>Stratum 1 Replicas</h2>

{% for stratum1 in stratum1_list %}
<div class="container" style="margin-bottom: 10px">
    <div class="pull-left" style="margin-right: 20px">
        {% if stratum0.manifest.revision == stratum1.1.manifest.revision %}
        <img src="{% static "images/tick.png" %}">
        {% else %}
            {% if stratum1.1.replicating %}
            <img src="{% static "images/spinner.gif" %}">
            {% else %}
            <img src="{% static "images/cross.png" %}">
            {% endif %}
        {% endif %}
    </div>
    <div class="container pull-left" style="width: 500px">
        <div>
            <h4>{{ stratum1.0.name }} Replica
            {% if stratum1.1.version != 'unknown' %}
            <small>(running CernVM-FS {{ stratum1.1.version }})</small>
            {% endif %}</h4>
        </div>
        <div>
            Current Revision: {{ stratum1.1.manifest.revision }}
            {% if stratum1.1.last_replication|date:"Y" != '1970' %}
            <small>(Last Replicated: {{ stratum1.1.last_replication }})</small>
            {% endif %}
        </div>
    </div>
    {% if stratum0.manifest.revision > stratum1.1.manifest.revision %}
    <div class="pull-left" style="margin-top: 16px">
         <a href="{% url 'replicate' stratum0.fqrn stratum1.0.id %}"><img src="{% static "images/replicate.png" %}"></a>
    </div>
    {% endif %}
</div>
{% endfor %}

<script type="text/javascript">
    var most_recent = {{ most_recent|date:"U" }};
    setInterval(function(){
        $.getJSON("{% url 'details_most_recent' stratum0.fqrn %}").done(function(data) {
            if (most_recent < data.most_recent) {
                location.reload();
            }
        });
    }, 1000);
</script>

{% endblock %}
