{% extends "layout.html" %}
{% block breadcrumbs %}{{ block.super }} : <a href="{% url 'index' %}">Stratum0</a> : <a href="{% url 'details' stratum0.fqrn %}">{{ stratum0.fqrn }}</a>{% endblock %}

{% load staticfiles %}

{% block content %}

<h1>Details for local Stratum 0 {{ stratum0 }}</h1>
<table class="table">
    <tr>
        <td>Stratum0 Revision:</td>
        <td>{{ stratum0.manifest.revision }}</td>
    </tr>
    <tr>
        <td>CernVM-FS Version:</td>
        <td>{{ stratum0.version }}</td>
    </tr>
    <tr>
        <td>Last Modified:</td>
        <td>{{ stratum0.manifest.last_modified }}</td>
    </tr>
    <tr>
        <td>Root Catalog Hash:</td>
        <td>{{ stratum0.manifest.root_catalog }}</td>
    </tr>
    <tr>
        <td>Number of known Stratum 1 Replicas:</td>
        <td>{{ stratum1_list|length }}</td>
    </tr>
</table>

<h2>Stratum 1 Replicas</h2>

{% for stratum1 in stratum1_list %}
<div class="container">
    <div class="pull-left" style="margin-right: 20px">
        {% if stratum0.manifest.revision == stratum1.1.manifest.revision %}
        <img src="{% static "images/tick.png" %}">
        {% else %}
        <img src="{% static "images/cross.png" %}">
        {% endif %}
    </div>
    <div class="container">
        <div>
            <h4>{{ stratum1.0.name }} Replica <small>(running CernVM-FS {{ stratum1.1.version }})</small></h4>
        </div>
        <div>
            Current Revision: {{ stratum1.1.manifest.revision }} <small>(Last Snapshotted: {{ stratum1.1.last_snapshot }})</small>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
