{% if stratum1_mapping %}
    <ul>
    {% for stratum0, stratum0_replicas in stratum1_mapping.items %}
        <li><a href="/stratum0/{{ stratum0.fqrn }}/">{{ stratum0 }}</a> (Current Revision: {{ stratum0.manifest.revision }})</li>
        <ul>
            {% for stratum1 in stratum0_replicas %}
                <li>{{ stratum1.fqrn }} at {{ stratum1.url }} (Current Revision: {{ stratum1.manifest.revision }})</li>
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% else %}
    <p>No stratum 0 repositories found. Please create one on the command line using `cvmfs_server mkfs`.</p>
{% endif %}
