{% extends "layout.html" %}
{% block breadcrumbs %}{{ block.super }} : <a href="{% url 'index' %}">Stratum0</a> : <a href="{% url 'matrix' %}">Matrix View</a>{% endblock %}

{% load staticfiles %}

{% block content %}

<div class="container" style="margin-top: 20px; margin-bottom: 30px">
<h1 style="margin: auto">Replication Matrix</h1>
</div>

<script type="text/javascript">

var stratum1s = [
{% for stratum1s in stratum1_map %}{% for stratum1 in stratum1s.1 %}{% if stratum1 %}
{
    "id"            : "{{ stratum1.id   }}",
    "name"          : "{{ stratum1.replication_site.name }}",
    "info_url"      : "{% url 'stratum1_details' stratum1.stratum0.fqrn stratum1.id %}"
},
{% endif %}{% endfor %}{% endfor %}
];

function update_stratum1_display(state_info, json_data) {
    var state_dom_img = state_info.dom_img;
    var small_images  = true;

    if (json_data.status != "ok") {
        // show a red flag if something went wrong
        replace_image(state_dom_img, "fail_small.png");
        return state_info;
    }

    var stratum1 = json_data.stratum1;
    var stratum0 = json_data.stratum0;

    // avoid flicker due to asynchronous cache responses
    stratum1 = filter_cache_flickering(state_info, stratum1);

    var img = determine_replication_state_image(stratum0, stratum1);
    replace_image(state_dom_img, img);

    return state_info;
}

function mark_stratum1_as_broken(state_dom_img, json_data) {
    replace_image(state_dom_img, "fail_small.png")
}

function update_stratum1_status(stratum1) {
    leaky_update(
        stratum1.info_url,
        5 * 60,
        { 'dom_img' : $('#state_' + stratum1.id) },

        update_stratum1_display,
        mark_stratum1_as_broken);
}

window.onload = function() {
    for (var i = 0; i < stratum1s.length; ++i) {
        update_stratum1_status(stratum1s[i]);
    }
}
</script>

<div class="container" id="stratum0">
    <table>
        <tr>
            <td></td>
            {% for repl_site in replication_sites %}
            <td style="text-align: center"><b>{{ repl_site.name }}</b></td>
            {% endfor %}
        </tr>
        {% for stratum1s in stratum1_map %}
        <tr>
            <td><b><a href="{% url 'details' stratum1s.0.fqrn  %}">{{ stratum1s.0.name }}</a></b></td>
            {% for stratum1 in stratum1s.1 %}
            <td>
                <div style="width: 45px; height: 45px; margin: 15px">
                    {% if stratum1 %}
                    <img src="{% static 'images/loading_small.gif' %}" id="state_{{ stratum1.id }}">
                    {% endif %}
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
